@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,600;0,700;1,300;1,500;1,600;1,700&display=swap');

:root {
  --primary: #CEBFF9;
  --gradient: linear-gradient(to right top, #81E6D9 10%, #319795 20%, #E6FFFA 60%);
  --gradient-light: linear-gradient(to right top, #E6FFFA 5%, #81E6D9 80%, #319795 15%);
}

html {
  font-size: 50%;
}
body,
*,
.chakra-heading {
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box !important;
  padding: 0;
  margin: 0;
}
::-webkit-scrollbar {
  width: 5px;
}
/* Track */
::-webkit-scrollbar-track {
  background: #ccdfe9;
  border-radius: 4px;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--primary);
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--primary);
}
.land_bg {
  background: #B2F5EA;
}
.h-100 {
  height: 100%;
}

.banner {
background: linear-gradient(48deg, #81E6D9 27%, #38B2AC 69%,  #4FD1C5 100%);
  border-radius: 8px;
  color: #ffffff;
}
.banner img {
  filter: invert(1);
  object-fit: contain;
}
/* .content-bg {
  background: rgba(255, 255, 255, 0.8) url('./assets/img/background.gif');
  background-size: 100% 100%;
  background-blend-mode: lighten;
} */
.menu_bg,
.footer-main {
  background: #B2F5EA;
}
.content-bg > div > div{
  padding-top: 30px;
}

.menu_bg .menu_topbar {
  width: 100%;
  position: fixed;
  background: #B2F5EA;
  background-size: cover;
  z-index: 99;
  height: 64px;
  border-radius: 0;
  overflow: hidden;
}
.chakra-card:hover{background: var(--gradient-light) !important;}
.chakra-card > div{background: #fff;}
.chakra-card:hover > div{background: transparent;}
.chakra-card > div:first-child{
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}
.chakra-card > div:last-child{
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}
.chakra-card{
  background: var(--gradient-light) !important;
  padding: 2px;
  border: 0;
  border-radius: 8px !important;
  box-shadow: 0 0.5rem 1.8rem rgba(0, 0, 0, .25) !important;
}
.land_heading {
  position: relative;
  -webkit-text-stroke: 0.1vw var(--primary);
  text-transform: uppercase;
  width: 100%;
  height: 100%;
  /* color: var(--primary); */
}
.pl-3{padding-left: 15px;}
.land_heading::before {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: #1D4044;
  -webkit-text-stroke: 0vw var(--primary);
  border-right: 2px solid #1D4044;
  overflow: hidden;
  animation: animate 5s linear infinite;
}
.counter{
  color: #ffffff;
  font-size: 4.5rem;
  font-weight: 500;
}
.footer_lists:first-child .footer_list{
  margin-left: 0;
  padding-left: 0;
}
.footer_list{
  margin-right: 12px;
  padding-left: 12px;
}
.footer_lists:last-child .footer_list{
  margin-right: 0;
  padding-right: 0;
}
@keyframes animate {

  0%,
  10%,
  100% {
    width: 0;
  }

  70%,
  90% {
    width: 100%;
  }
}
.gallery .image-gallery-swipe{
  width: 100%;
}
.gallery .image-gallery-left-nav .image-gallery-svg,
.image-gallery-right-nav .image-gallery-svg {
  height: 30px !important;
  width: 30px !important;
}

.list-item.active {
  color: #1D4044;
  background: none;
  border-radius: 4px;
}

.spin {
  height: 41px;
  width: 41px;
  position: absolute;
  clip-path: polygon(25% 5%, 75% 5%, 100% 50%, 75% 95%, 25% 95%, 0% 50%);
  z-index: 1;
  top: 10px;
  -webkit-clip-path: polygon(25% 5%, 75% 5%, 100% 50%, 75% 95%, 25% 95%, 0% 50%);
  border-radius: 2px;
  background: #ffffff;
}

.logo {
  top: 0px;
  left: 5px;
}

.logo+.spin {
  animation: spin 20s linear infinite;
}

.list-item {
  transition: transform .5s;
}
.list-item:hover,
img.hoverable:hover,
.work:hover,
.gallery .image-gallery-content .image-gallery-slide .image-gallery-image:hover {
  transform: scale(1.1);
  transition: all ease-in-out .5s;
}
.shape_img{
  shape-margin: 4rem;
  padding-bottom: 3rem;
}
.shape_in{
  padding-right: 4rem;
  float: left;
  shape-outside: url("./assets/img/internship.jpg");
}
.shape_cor{
  shape-margin: 8rem;
  padding-left: 4rem;
  float: right;
  shape-outside: url("./assets/img/internship.jpg");
}
.skill_s{
  background-color: #f2f5f7;
  border-radius: 4px;
  padding: 15px;
  max-width: 180px;
  min-width: 150px;
  max-height: 220px;
}
.skill_img{
  padding: 30px 0 30px 0;
  max-width: 180px;
}
.skill_img img{
  max-height: 200px;
}
.skill_s h4{
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 20px;
}
.skill_s p{
  font-size: 1.75rem;
  font-weight: 500;
  display: flex;
  align-items: center;
  color: #918C8C;
  margin-bottom: 8px;
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.foot-icon {
  animation: Angle .5s linear infinite;
  -webkit-animation: Angle .5s ease-in-out infinite;
}
.home_card {
  background-color: #ffffff !important;
  border: 0 !important;
  box-shadow: 0 2px 4px 2px #d5d5d5 !important;
  padding: 0;
}
.home_card:hover {
  background: #ffffff !important;
  transform: scale(1.02);
  transition: all 2s;
  box-shadow: 0 2px 12px 2px #d5d5d5 !important;
}
@keyframes Angle {
  0% {
    transform: rotate(0deg);
  }

  25% {
    transform: rotate(20deg);
  }

  50% {
    transform: rotate(0deg);
  }

  75% {
    transform: rotate(-20deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

.foot-link:hover,
.hed_name {
  animation: Color 2s linear infinite;
  -webkit-animation: Color 10s ease-in-out infinite;
  transform: scale(1.02);
  transition: all ease-in-out .5s;
}

@keyframes Color {
  0% {
    color: #251f1f;
  }

  25% {
    color: #1b3841;
  }

  50% {
    color: #34123d;
  }

  75% {
    color: #083836;
  }

  100% {
    color: #251f1f;
  }
}

.animate span {
  display: inline-block;
}

.animate span:nth-of-type(2) {
  animation-delay: .05s;
}

.animate span:nth-of-type(3) {
  animation-delay: .1s;
}

.animate span:nth-of-type(4) {
  animation-delay: .15s;
}

.animate span:nth-of-type(5) {
  animation-delay: .2s;
}

.animate span:nth-of-type(6) {
  animation-delay: .25s;
}

.animate span:nth-of-type(7) {
  animation-delay: .3s;
}

.animate span:nth-of-type(8) {
  animation-delay: .35s;
}

.animate span:nth-of-type(9) {
  animation-delay: .4s;
}

.animate span:nth-of-type(10) {
  animation-delay: .45s;
}

.animate span:nth-of-type(11) {
  animation-delay: .5s;
}

.animate span:nth-of-type(12) {
  animation-delay: .55s;
}

.animate span:nth-of-type(13) {
  animation-delay: .6s;
}

.animate span:nth-of-type(14) {
  animation-delay: .65s;
}

.animate span:nth-of-type(15) {
  animation-delay: .7s;
}

.animate span:nth-of-type(16) {
  animation-delay: .75s;
}

.animate span:nth-of-type(17) {
  animation-delay: .8s;
}

.animate span:nth-of-type(18) {
  animation-delay: .85s;
}

.animate span:nth-of-type(19) {
  animation-delay: .9s;
}

.animate span:nth-of-type(20) {
  animation-delay: .95s;
}


/* Animation One */

.one span {
  color: #1D4044;
  opacity: 0;
  transform: translate(-100px, -30px) rotate(-120deg) scale(3);
  animation: revolveScale 10s forwards infinite;
}

@keyframes revolveScale {
  40% {
    transform: translate(10px, 10px) rotate(0deg) scale(.9);
  }

  60% {
    transform: translate(0px, 0px) rotate(0deg) scale(1);
  }

  80% {
    transform: translate(10px, 10px) rotate(0deg) scale(.9);
  }

  100% {
    transform: translate(0) rotate(0) scale(1);
    opacity: 1;
  }
}

.gallery .image-gallery-content .image-gallery-slide .image-gallery-image {
  max-height: 300px !important;
  height: 220px;
}

.gallery .fullscreen.image-gallery-content {
  height: 100%;
}

.gallery .fullscreen.image-gallery-content .image-gallery-slide-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  margin: 0 auto;
  height: 100%;
  width: 100%;
}

.gallery .fullscreen.image-gallery-content .image-gallery-slide .image-gallery-image {
  max-height: 100vh !important;
  height: 100% !important;
  object-fit: contain;
  padding: 50px;
}

.gallery .image-gallery-thumbnail .image-gallery-thumbnail-image {
  height: 42px;
  object-fit: cover;
  width: 72px;
}

.gallery .image-gallery-thumbnail {
  border: 4px solid transparent;
  transition: border .3s ease-out;
  width: 80px;
  max-height: 50px;
}

.gallery .image-gallery-slide .image-gallery-image {
  width: 100%;
  object-fit: cover;
}

.gallery .image-gallery-thumbnail.active,
.gallery .image-gallery-thumbnail:focus {
  border: 4px solid var(--primary);
}

.card.shadow {
  box-shadow: 0 0.5rem 1.8rem rgba(0, 0, 0, .25) !important;
}
.content{
  display: none;
  transition: all 5s ease;
}

.card_ovrlay:hover{
  box-shadow: 0 0.5rem 1.8rem rgba(0, 0, 0, .25) !important;
}

.card_ovrlay:hover  .content{
  width:100%;
  padding: 3rem;
  box-sizing: border-box;
  display: flex;
  height: 100%;
  justify-content: space-between;
  align-items: center;
  background: rgba(255, 255, 255, 0.7);
  color: rgb(29, 27, 27);
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  transform: translateY(0);
}




@media only screen and (max-width: 1199.98px) {
  .land-left  .txt{
    font-size: 3.4rem;
  }
}
@media only screen and (max-width: 991.98px) {
  .nav-main {
    display: none;
  }

  .mobile-nav {
    display: flex;
  }
  .land_heading::before {
    top: 0;
  }
  .mobile-nav .css-r6z5ec {
    position: fixed !important;
    transform: none !important;
    top: 70px !important;
    right: 30px !important;
    margin-left: auto !important;
    width: fit-content;
  }

  html {
    font-size: 45%;
  }
}

@media only screen and (max-width: 767.98px) {
  html {
    font-size: 40%;
  }
  .list-item.active {
    color: #ffffff;
    background: var(--primary);
    border-radius: 4px;
  }
  
  .land-left  .txt{
    font-size: 3rem;
  }
  .skill_s{
    background-color: #f2f5f7;
    border-radius: 4px;
    padding: 15px;
    max-width: 150px;
    min-width: 130px;
    max-height: 220px;
  }
}

@media only screen and (max-width: 575.98px) {
  html {
    font-size: 40%;
  }
  .footer_list{
    margin-right: 5px;
    margin-left: 5px;
    padding-left: 5px;
    padding-right: 5px;
  }
  .banner .name-txt {
    margin-bottom: 10px;
  }

  .banner {
    padding: 15px;
  }

  .banner img {
    width: 50px;
  }
}